<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168788374977-t3grn6134ou4u4sjpa6mp9buhcgo34o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168788374977-t3grn6134ou4u4sjpa6mp9buhcgo34o8</string>
	<key>API_KEY</key>
	<string>AIzaSyCCbjjA775-t0ct5xeS_TuG6lH1WB1SxJk</string>
	<key>GCM_SENDER_ID</key>
	<string>168788374977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.uunwon.FirebaseBasic</string>
	<key>PROJECT_ID</key>
	<string>fir-basic-820f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-basic-820f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168788374977:ios:2dd370f4d6aee46afbeb40</string>
</dict>
</plist>